.description {
    margin-bottom: 38px;
    font-family: Open sans;
    font-size: 20px;
    width: 800px;
    text-align: justify;
}

.description p a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.description p a:hover {
    text-decoration: underline;
}

.cards-boxes {
    display: flex;
    margin-bottom: 30px;
}

.content-container {
    margin-top: 100px;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-card {
    margin-left: 20px;
}

@media screen and (min-width: 360px) { 
    .cards-boxes {
        display: flex;
        flex-direction: column;
    }
    
}