<header>
	<app-header />
</header>

<div class="content-container">
	<div class="description">
		<p>
			Esta tela inicial do app Santander foi desenvolvido seguindo a live <a href="https://www.youtube.com/watch?v=ZGTzsRuh464&t=626s">Santander Dev Week 2023</a>, 
            disponibilizado pela plataforma de cursos: <a href="https://web.dio.me/">Dio.me</a>, ministrado pelo professor
			<a href="https://www.linkedin.com/in/felipe-exe/">Felipe Aguiar</a>. Construído com <strong>Angular</strong> e <strong>Typescript</strong> como exemplo de
            uma das trilhas de formações do <a href="https://web.dio.me/track/santander-bootcamp-2023-fullstack-java-angular"> Santander Bootcamp 2023</a>.
		</p>
	</div>
	<div class="cards-boxes">
		<div class="content-card">
			<app-card-box />
		</div>
		<div class="content-card">
			<app-amount-box />
		</div>
	</div>
</div>
